*.o
*.DS_Store
fun_with_graphs
nauty24r2/makefile
nauty24r2/NRswitchg
nauty24r2/addedgeg
nauty24r2/amtog
nauty24r2/biplabg
nauty24r2/catg
nauty24r2/complg
nauty24r2/copyg
nauty24r2/countg
nauty24r2/deledgeg
nauty24r2/directg
nauty24r2/dreadnaut
nauty24r2/dretog
nauty24r2/genbg
nauty24r2/geng
nauty24r2/genrang
nauty24r2/gentourng
nauty24r2/labelg
nauty24r2/listg
nauty24r2/multig
nauty24r2/newedgeg
nauty24r2/pickg
nauty24r2/planarg
nauty24r2/rng.o
nauty24r2/shortg
nauty24r2/showg

